<div class="navbar">
	<ul class="navbar-nav">
		<li ng-class="{active: activeTab == 'home' || activeTab == '/'}"><a href="/">Home</a></li>
		<li ng-class="{active: activeTab == 'profile'}"><a href="/profile">Profile</a></li>
		<li ng-class="{active: activeTab == 'another'}"><a href="/another">Another</a></li>
		<li ng-class="{active: activeTab == '404'}"><a href="/pagenotfound">404</a></li>
	</ul>
</div>


<div class="content-head">
	<h1>Another</h1>
</div>

<div class="content-body">
	This is Another Page
</div>

</div>
